@page "/emailTemplate"
@using EHive.Core.Library.Contracts.Emails
@using EHive.Core.Library.Helpers
@inherits EmailTemplateBase

@if (!Loading)
{
    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">
                <MudTable Items="@EmailTemplates" T="EmailTemplateDto" Hover="true" Outlined="true" Dense="true" RowClassFunc="RowClassSelectorPost"
                          SelectedItemChanged="SelectTemplateAsync" Filter="template => template.Name.Contains(TemplateSearch, StringComparison.InvariantCultureIgnoreCase)
                                                                               || template.Code.Contains(TemplateSearch, StringComparison.InvariantCultureIgnoreCase)
                                                                               || template.Description.Contains(TemplateSearch, StringComparison.InvariantCultureIgnoreCase)                                                                               
                                                                               || string.IsNullOrEmpty(TemplateSearch)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Modelos de Email</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="@TemplateSearch" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Código</MudTh>
                        <MudTh>Nome</MudTh>
                        <MudTh>Descrição</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Code">@context.Code</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Description">@context.Description</MudTd>                        
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>

                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                                                                       SelectedTemplate = new EmailTemplateDto{
                                                                                                Code = CodeHelper.GenerateAlphanumericCode(6),
                                                                                                Name = "Novo Modelo",
                                                                                                Description = "Descrição do novo modelo"
                                                                                             };
                                                                                       })" />
                </MudCardActions>
            </MudCard>

            @if (SelectedTemplate != null)
            {

                <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedTemplate.Id" />
                        </MudItem>                        
                        <MudItem xs="12">
                            <MudTextField Label="Código" @bind-Value="@SelectedTemplate.Code" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Nome" @bind-Value="@SelectedTemplate.Name" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Lines="4" Label="Descrição" @bind-Value="@SelectedTemplate.Description" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Lines="4" Label="Sobre" @bind-Value="@SelectedTemplate.Subject" />
                        </MudItem>
                        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                            <MudCardHeader>
                                <MudText Typo="Typo.h6">Corpo</MudText>
                            </MudCardHeader>
                            <MudCardContent Class="html-editor">
                                <StandaloneCodeEditor @ref="Editor" Id="EmailTemplateBodyEditor" ConstructionOptions="EditorConstructionOptions" CssClass="html-editor" />
                            </MudCardContent>       
                        </MudCard>
                    </MudCardContent>
                </MudCard>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveTemplate">Salvar</MudButton>
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@ClearAsync" Class="m-2">Limpar</MudButton>
            <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                <div class="d-flex flex-column">
                    <MudText>@Message</MudText>
                    <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                </div>
            </MudPopover>
        </MudCardActions>
    </MudCard>
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}


