@page "/lessons"
@using EHive.Core.Library.Contracts.Courses
@using EHive.Core.Library.Enums.Courses
@inherits LessonsBase
<MudCard>
    <MudCardContent>

        <MudCard Outlined="true" Class="form-card-body">
            <MudTable Items="@Lessons"
                      T="LessonDto"
                      Hover="true"
                      Outlined="true"
                      Dense="true"
                      RowClassFunc="RowClassSelector"
                      SelectedItemChanged="SelectLesson"
                      Loading="@LessonsLoading"
                      LoadingProgressColor="Color.Info"
                      CustomPaging="true"
                      AllowUnsorted="true">

                <ToolBarContent>
                    <MudText Typo="Typo.h6">Aulas</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="@LessonSearch"
                                  T="string"
                                  Placeholder="Busca"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  OnAdornmentClick="@SearchLessons"
                                  OnKeyDown="OnLessonsSearchKeyDown"
                                  Class="mt-0" />
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Nome</MudTh>
                    <MudTh>Código</MudTh>
                    <MudTh>Descrição</MudTh>
                    <MudTh>Categoria</MudTh>
                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Code">@context.Code</MudTd>
                    <MudTd DataLabel="Description">@context.Description</MudTd>
                    <MudTd DataLabel="Category">@context.Category</MudTd>
                </RowTemplate>

                <PagerContent>
                    <PaginationToolbar CurrentPage="@LessonsFilter.Page"
                                       TotalPages="@LessonsTotalPages"
                                       PageLimit="@LessonsFilter.PageLimit"
                                       OnPageLimitChanged="@ChangeLessonsPageLimit"
                                       OnFirstPage="@(() => LessonsPageChanged(1))"
                                       OnPreviousPage="@(() => LessonsPageChanged(LessonsFilter.Page - 1))"
                                       OnNextPage="@(() => LessonsPageChanged(LessonsFilter.Page + 1))"
                                       OnLastPage="@(() => LessonsPageChanged(LessonsTotalPages))" />
                </PagerContent>
            </MudTable>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Add"
                               OnClick="@(() =>
                               {
                                   LessonDto newLesson = new LessonDto
                                   {
                                       Name = "Nova aula",
                                       Code = CodeHelper.GenerateNumericCode(11),
                                       Description = string.Empty,
                                       Category = string.Empty,
                                       Type = LessonTypes.Video,
                                       Materials = new List<MaterialDto>()
                                   };
                                   Lessons.Add(newLesson);
                                   SelectedLesson = newLesson;
                               })">
                </MudIconButton>
            </MudCardActions>
        </MudCard>

        @if (SelectedLesson != null)
        {
            <MudCard Outlined="true" Class="form-card-body mt-2">
                <MudCardContent>
                    <MudItem xs="12">
                        <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedLesson.Id" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Código" @bind-Value="@SelectedLesson.Code" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField Label="Ordem" @bind-Value="@SelectedLesson.Order" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Nome" @bind-Value="@SelectedLesson.Name" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Descrição" @bind-Value="@SelectedLesson.Description" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudSelect T="LessonTypes"
                                   Label="Tipo"
                                   Value="@SelectedLessonType"
                                   ValueChanged="(t) => ChangeLessonType(t)">
                            <MudSelectItem Value="LessonTypes.Lesson">Html</MudSelectItem>
                            <MudSelectItem Value="LessonTypes.Video">Vídeo</MudSelectItem>
                            <MudSelectItem Value="LessonTypes.Material">Material</MudSelectItem>
                            <MudSelectItem Value="LessonTypes.Exam">Exame</MudSelectItem>
                            <MudSelectItem Value="LessonTypes.Survey">Pesquisa</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField Label="Categoria" @bind-Value="@SelectedLesson.Category" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Miniatura" @bind-Value="@SelectedLesson.Thumbnail" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Imagem" @bind-Value="@SelectedLesson.ImageUrl" />
                    </MudItem>


                    <MudCard Outlined="true" Class="form-card-body mt-2">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Corpo</MudText>
                        </MudCardHeader>
                        <MudItem xs="12">
                            <RadzenHtmlEditor @ref="Editor" @bind-Value="@SelectedLesson.Body" class="html-editor" />
                        </MudItem>
                    </MudCard>


                    @if (SelectedLesson.Type == LessonTypes.Video)
                    {
                        <MudItem xs="12">
                            <MudTextField Label="Video Id" @bind-Value="@SelectedLesson.VideoId" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Video Url" @bind-Value="@SelectedLesson.VideoUrl" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Video Embedded" @bind-Value="@SelectedLesson.EmbeddedVideo" />
                        </MudItem>
                        @if (!string.IsNullOrEmpty(SelectedLesson?.VideoUrl))
                        {
                            <MudItem xs="12">
                                <span>
                                    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
                                    <script defer src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
                                    <video id="my-video" class="video-js" preload="auto" width="640" height="264" controls data-setup="{}">
                                        <source src="@SelectedLesson.VideoUrl" type="application/x-mpegURL" />
                                    </video>
                                </span>
                            </MudItem>
                        }
                    }
                </MudCardContent>
            </MudCard>

            @if (SelectedLesson.Type == LessonTypes.Material)
            {
                <MudCard Outlined="true" Class="form-card-body mt-2">
                    <MudCardContent>

                        <MudTable Items="@SelectedLesson.Materials"
                                  T="MaterialDto"
                                  Hover="true"
                                  Outlined="true"
                                  Dense="true"
                                  @bind-SelectedItem="SelectedMaterial"
                                  MultiSelection="false"
                                  RowClassFunc="RowClassSelectorMaterial"
                                  Height="300px"
                                  Filter="exam => exam.Name.Contains(SearchExam, StringComparison.InvariantCultureIgnoreCase)
                                                                                                                   || exam.Url.Contains(SearchExam, StringComparison.InvariantCultureIgnoreCase)
                                                                                                                   || exam.Description.Contains(SearchExam, StringComparison.InvariantCultureIgnoreCase)
                                                                                                                   || string.IsNullOrEmpty(SearchExam) ">

                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Materiais</MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="@SearchMaterial"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              IconSize="Size.Medium"
                                              Class="mt-0" />


                            </ToolBarContent>

                            <HeaderContent>
                                <MudTh>Nome</MudTh>
                                <MudTh>Descrição</MudTh>
                                <MudTh>Url</MudTh>
                                <MudTh>Remover</MudTh>
                            </HeaderContent>

                            <RowTemplate>
                                <MudTd DataLabel="Name">@context.Name</MudTd>
                                <MudTd DataLabel="Dscription">@context.Description</MudTd>
                                <MudTd DataLabel="Url">@context.Url</MudTd>
                                <MudTd DataLabel="Remove">
                                    <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => SelectedLesson.Materials.Remove(context))">
                                    </MudIconButton>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudCardContent>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Add"
                                       OnClick="@(() =>
                                       {
                                           SelectedLesson.Materials.Add(new MaterialDto
                                           {
                                               Name = "Novo material",
                                               Url = string.Empty,
                                               Description = string.Empty
                                           });
                                           SelectedMaterial = SelectedLesson.Materials.Last();
                                       })">
                        </MudIconButton>
                    </MudCardActions>
                </MudCard>

                @if (SelectedMaterial != null)
                {
                    <MudCard Outlined="true" Class="form-card-body mt-2">
                        <MudCardContent>
                            <MudItem xs="12">
                                <MudSelect T="MaterialTypes"
                                           Label="Tipo"
                                           Value="@SelectedMaterialType"
                                           ValueChanged="(t) => ChangeMaterialType(t)">
                                    <MudSelectItem Value="MaterialTypes.Pdf">Pdf</MudSelectItem>
                                    <MudSelectItem Value="MaterialTypes.Ebook">Ebook</MudSelectItem>
                                    <MudSelectItem Value="MaterialTypes.Slides">Slides</MudSelectItem>
                                    <MudSelectItem Value="MaterialTypes.Link">Link</MudSelectItem>
                                    <MudSelectItem Value="MaterialTypes.Other">Outro</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Url" @bind-Value="@SelectedMaterial.Url" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Nome" @bind-Value="@SelectedMaterial.Name" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Descrição" @bind-Value="@SelectedMaterial.Description" />
                            </MudItem>
                        </MudCardContent>
                    </MudCard>
                }
            }

            @if (SelectedLesson.Type == LessonTypes.Exam || SelectedLesson.Type == LessonTypes.Survey)
            {
                <MudCard Outlined="true" Class="form-card-body mt-2">
                    <MudCardContent>

                        <MudTable Items="@Exams"
                                  T="ExamDto"
                                  Hover="true"
                                  Outlined="true"
                                  Dense="true"
                                  @bind-SelectedItem="SelectedExam"
                                  RowClassFunc="RowClassSelectorExam"
                                  MultiSelection="false"
                                  Height="300px"
                                  Loading="@ExamsLoading"
                                  LoadingProgressColor="Color.Info"
                                  CustomPaging="true"
                                  AllowUnsorted="true">

                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Exames</MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="@SearchExam"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              OnAdornmentClick="@SearchExams"
                                              OnKeyDown="OnExamsSearchKeyDown"
                                              IconSize="Size.Medium"
                                              Class="mt-0" />
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Nome</MudTh>
                                <MudTh>Código</MudTh>
                                <MudTh>Descrição</MudTh>
                                <MudTh>Categoria</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">@context.Name</MudTd>
                                <MudTd DataLabel="Code">@context.Code</MudTd>
                                <MudTd DataLabel="Description">@context.Description</MudTd>
                                <MudTd DataLabel="Category">@context.Category</MudTd>
                            </RowTemplate>

                            <PagerContent>
                                <PaginationToolbar CurrentPage="@ExamsFilter.Page"
                                                   TotalPages="@ExamsTotalPages"
                                                   PageLimit="@ExamsFilter.PageLimit"
                                                   OnPageLimitChanged="@ChangeExamsPageLimit"
                                                   OnFirstPage="@(() => ExamsPageChanged(1))"
                                                   OnPreviousPage="@(() => ExamsPageChanged(ExamsFilter.Page - 1))"
                                                   OnNextPage="@(() => ExamsPageChanged(ExamsFilter.Page + 1))"
                                                   OnLastPage="@(() => ExamsPageChanged(ExamsTotalPages))" />
                            </PagerContent>
                        </MudTable>
                    </MudCardContent>
                </MudCard>
            }
        }
    </MudCardContent>

    <MudCardActions>
        <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveLesson">
            Salvar
        </MudButton>
        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@Clear" Class="m-2">
            Limpar
        </MudButton>

        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
            <div class="d-flex flex-column">
                <MudText>@Message</MudText>
                <MudButton OnClick="@(() => @ShowMessage = false)"
                           Class="ml-auto mr-n3 mb-1"
                           Color="Color.Error">
                    Close
                </MudButton>
            </div>
        </MudPopover>
    </MudCardActions>
</MudCard>
