@using EHive.Core.Library.Contracts.Users
@page "/userGroups"
@inherits UserGroupsBase

@if (!Loading)
{
    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">
                <MudCardContent>
                    <MudTable Items="@Groups"
                              T="UserGroupDto"
                              Hover="true"
                              Outlined="true"
                              Dense="true"
                              RowClassFunc="RowClassSelector"
                              SelectedItemChanged="SelectGroup"
                              Filter="group => group.Name.Contains(SearchGroup, StringComparison.InvariantCultureIgnoreCase)
                                       || group.Description.Contains(SearchGroup, StringComparison.InvariantCultureIgnoreCase)
                                       || string.IsNullOrEmpty(SearchGroup)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Grupos</MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="@SearchGroup"
                                          Placeholder="Busca"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium"
                                          Class="mt-0">
                            </MudTextField>
                        </ToolBarContent>

                        <HeaderContent>
                            <MudTh>Nome</MudTh>
                            <MudTh>Descrição</MudTh>
                        </HeaderContent>

                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Description">@context.Description</MudTd>
                        </RowTemplate>

                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>

                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Add"
                                   OnClick="@(() =>
                                   {
                                       SelectedGroup = new UserGroupDto
                                       {
                                           Name = "Novo grupo",
                                           Description = "Descrição do novo grupo",
                                           UsersIds = new List<string>()
                                       };
                                   })">
                    </MudIconButton>
                </MudCardActions>
            </MudCard>

            @if (SelectedGroup != null)
            {
                <MudCard Outlined="true" Class="form-card-body mt-2">
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedGroup.Id" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Nome" @bind-Value="@SelectedGroup.Name" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Descrição" @bind-Value="@SelectedGroup.Description" />
                        </MudItem>

                        <MudTable Items="@AllUsers"
                                  T="UserDto"
                                  Hover="true"
                                  Outlined="true"
                                  Dense="true"
                                  @bind-SelectedItems="SelectedUsers"
                                  MultiSelection="true"
                                  Height="300px"
                                  Filter="user => user.Name.Contains(SearchUser, StringComparison.InvariantCultureIgnoreCase)
                                           || user.MainEmail.Contains(SearchUser, StringComparison.InvariantCultureIgnoreCase)
                                           || user.Login.Contains(SearchUser, StringComparison.InvariantCultureIgnoreCase)
                                           || string.IsNullOrEmpty(SearchUser)">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Usuários</MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="@SearchUser"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              IconSize="Size.Medium"
                                              Class="mt-0">
                                </MudTextField>
                            </ToolBarContent>
                            <RowTemplate>
                                <MudTd DataLabel="Email">@context.MainEmail</MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Filled"
                                   Color="Color.Primary"
                                   OnClick="@SaveGroup"
                                   Class="m-2">
                            Salvar
                        </MudButton>

                        @if (!string.IsNullOrEmpty(SelectedGroup.Id))
                        {
                            <MudButton Color="Color.Error"
                                       Variant="MudBlazor.Variant.Filled"
                                       OnClick="@(() => ShowDeleteMessage = true )"
                                       Class="m-2">
                                Deletar
                            </MudButton>
                        }

                        <MudButton Variant="MudBlazor.Variant.Filled"
                                   Color="Color.Secondary"
                                   OnClick="@Clear"
                                   Class="m-2">
                            Limpar
                        </MudButton>

                        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudText>@Message</MudText>
                                <MudButton OnClick="@(() => @ShowMessage = false)"
                                           Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error">
                                    Close
                                </MudButton>
                            </div>
                        </MudPopover>

                        <MudPopover Open="@ShowDeleteMessage" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudText>Deseja realmente deletar este grupo? Esta ação não pode ser desfeita.</MudText>
                                <MudButton OnClick="@(() => { @ShowDeleteMessage = false; DeleteGroup(); })"
                                           Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error">
                                    Confirmar
                                </MudButton>
                                <MudButton OnClick="@(() => @ShowDeleteMessage = false)"
                                           Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error">
                                    Cancelar
                                </MudButton>
                            </div>
                        </MudPopover>
                    </MudCardActions>
                </MudCard>
            }
        </MudCardContent>
    </MudCard>
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}
