@page "/webhooks"
@using EHive.Admin.Models
@using EHive.Core.Library.Contracts.Events
@using EHive.Core.Library.Contracts.Users
@using EHive.Core.Library.Enums.Events
@using EHive.Core.Library.Enums.WebHook
@inherits WebhooksBase

@if (!Loading)
{
    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">
                <MudTable Items="@Webhooks" T="WebHookDto" Hover="true" Outlined="true" Dense="true" RowClassFunc="RowClassSelector" SelectedItemChanged="SelectWebhook"
                          Filter="automation => automation.Name.Contains(WebhookSearch, StringComparison.InvariantCultureIgnoreCase)
                                             || automation.Description.Contains(WebhookSearch, StringComparison.InvariantCultureIgnoreCase)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Webhooks</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="@WebhookSearch" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Nome</MudTh>
                        <MudTh>Descrição</MudTh>
                        <MudTh>Slug</MudTh>
                        <MudTh>Copiar</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Name">@context.Description</MudTd>
                        <MudTd DataLabel="Slug">@context.Slug</MudTd>
                        <MudTd DataLabel="Copy">
                            <MudIconButton Icon="@Icons.Material.Filled.CopyAll" OnClick="@(() => CopyAddress(context))"></MudIconButton>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                                                                Webhooks.Add(new WebHookDto { Name = "Novo webhook", Slug = "novo_webhook", ApiKey = Guid.NewGuid().ToString()});
                                                                                SelectWebhook(Webhooks.Last());
                                                                            })"></MudIconButton>
                </MudCardActions>
            </MudCard>
        </MudCardContent>
    </MudCard>

    if (SelectedWebhook != null)
    {
        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
            <MudCardContent>
                <MudItem xs="12">
                    <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedWebhook.Id" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Nome" @bind-Value="@SelectedWebhook.Name" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Descrição" @bind-Value="@SelectedWebhook.Description" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Slug" @bind-Value="@SelectedWebhook.Slug" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="string" Label="Método" @bind-Value="SelectedWebhook.Method">           
                        @foreach (var item in new string[] { "GET", "POST", "PUT", "PATCH" })
                        {
                            <MudSelectItem Value="item" />
                        }                       
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Chave de API" @bind-Value="@SelectedWebhook.ApiKey" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="UserDto" Label="Usuário de Personificação" @bind-Value="SelectedPersonificationUser">
                        @foreach (var item in Users)
                        {
                            <MudSelectItem Value="item">@item.Name - @item.MainEmail - @(string.Join(",", item.Roles))</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudSwitch Label="Com Autenticação"
                               @bind-Value="@SelectedWebhook.UseAuthorization"
                               Color="Color.Primary"
                               T="bool" />
                </MudItem>                                    
                <MudSpacer />
                <MudSpacer />
                <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                    <MudTable Items="@SelectedWebhook.Steps" T="WebHookStepDto" Hover="true" Outlined="true" Dense="true" Height="200px"
                                                                        RowClassFunc="RowStepSelector" SelectedItemChanged="SelectStep">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Etapas</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Nome</MudTh>
                            <MudTh>Tipo</MudTh>                            
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Type">@context.Type.ToString()</MudTd>                            
                        </RowTemplate>
                    </MudTable>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(async () => 
                                                                        {
                                                                            await CommitStepScript();
                                                                            SelectedWebhook.Steps.Add(new WebHookStepDto { Name = "Nova etapa", Type = WebHookStepTypes.Action });
                                                                        })"></MudIconButton>
                    </MudCardActions>
                </MudCard>
                <MudSpacer />

                @if(SelectedStep != null){                
                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardContent>
                            <MudItem xs="12">
                                <MudTextField Label="Nome" @bind-Value="@SelectedStep.Name" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudSelect T="WebHookStepTypes" Label="Tipo" Value="@SelectedStep.Type" ValueChanged="(t) => ChangeStepType(t)">
                                    <MudSelectItem Value="WebHookStepTypes.Action">Action</MudSelectItem>
                                    <MudSelectItem Value="WebHookStepTypes.JavaScript">JavaScript</MudSelectItem>
                                    <MudSelectItem Value="WebHookStepTypes.Lua">Lua</MudSelectItem>
                                    <MudSelectItem Value="WebHookStepTypes.Python">Python</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                        </MudCardContent>
                    </MudCard>
                    <MudSpacer />

                    @if (SelectedStep.Type == WebHookStepTypes.Action)
                    {
                        <MudCard Outlined="true" Class="form-card-body" Style="mt-5">
                            <MudCard Outlined="true" Class="form-card-body" Style="mt-5">
                                <MudTable Items="@SelectedStep.Actions" T="WebHookActionDto" Hover="true" Outlined="true" Dense="true" Height="200px"
                                          RowClassFunc="RowActionSelector" SelectedItemChanged="SelectAction">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">Ações</MudText>
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh>Tipo</MudTh>
                                        <MudTh>Coleção</MudTh>
                                        <MudTh>Campo alvo</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Type">@context.Type.ToString()</MudTd>
                                        <MudTd DataLabel="TargetCollection">@context.TargetCollection</MudTd>
                                        <MudTd DataLabel="TargetField">@context.TargetField</MudTd>
                                    </RowTemplate>
                                </MudTable>
                                <MudCardActions>
                                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => SelectedStep.Actions.Add(new WebHookActionDto { Type = WebHookActionTypes.Replace }))"></MudIconButton>
                                </MudCardActions>
                            </MudCard>

                            @if(SelectedAction != null)
                            {

                                <MudCard Outlined="true" Class="form-card-body" Style="mt-5">
                                    <MudCardHeader>s
                                        <MudStack>
                                            <MudText Typo="Typo.h6">Configurações da Ação</MudText>
                                        </MudStack>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudItem xs="12">
                                            <MudSelect T="WebHookActionTypes" Label="Tipo" Value="@SelectedAction.Type" ValueChanged="(t) => ChangeActionType(t)">
                                                <MudSelectItem Value="WebHookActionTypes.Replace">Substituir</MudSelectItem>
                                                <MudSelectItem Value="WebHookActionTypes.Increment">Incrementar</MudSelectItem>
                                                <MudSelectItem Value="WebHookActionTypes.Decrement">Decrementar</MudSelectItem>
                                                <MudSelectItem Value="WebHookActionTypes.Append">Incluir no final</MudSelectItem>
                                                <MudSelectItem Value="WebHookActionTypes.Prepend">Incluir no inicio</MudSelectItem>
                                            </MudSelect>
                                        </MudItem>    
                                        <MudItem xs="12">
                                            <MudSelect T="WebHookFieldSourceTypes" Label="Tipo" Value="@SelectedAction.SourceType" ValueChanged="(t) => ChangeActionSourceType(t)">
                                                <MudSelectItem Value="WebHookFieldSourceTypes.Body">Corpo</MudSelectItem>
                                                <MudSelectItem Value="WebHookFieldSourceTypes.Query">Endereço</MudSelectItem>
                                                <MudSelectItem Value="WebHookFieldSourceTypes.Header">Cabeçalho</MudSelectItem>
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudTextField Label="Campo de origem" @bind-Value="@SelectedAction.SourceField" />
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField Label="Índice de origem" @bind-Value="@SelectedAction.SourceIndexField" />
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField Label="Coleção de destino" @bind-Value="@SelectedAction.TargetCollection" />
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField Label="Índice de destino" @bind-Value="@SelectedAction.TargetIndexField" />
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField Label="Campo de destino" @bind-Value="@SelectedAction.TargetField" />
                                        </MudItem>
                                    </MudCardContent>
                                </MudCard>
                            }
                        </MudCard>
                    }
                    else if (SelectedStep.Type == WebHookStepTypes.JavaScript)
                    {
                        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                            <MudCardHeader>
                                <MudStack>
                                    <MudText Typo="Typo.h6">JavaScript</MudText>
                                </MudStack>
                            </MudCardHeader>
                            <MudCardContent>
                                <StandaloneCodeEditor @ref="JavascriptEditor" Id="JavascriptEditor" ConstructionOptions="JavascriptEditorConstructionOptions" CssClass="code-editor" />
                            </MudCardContent>
                        </MudCard>
                    }
                    else if (SelectedStep.Type == WebHookStepTypes.Lua)
                    {
                        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                            <MudCardHeader>
                                <MudStack>
                                    <MudText Typo="Typo.h6">Lua</MudText>
                                </MudStack>
                            </MudCardHeader>
                            <MudCardContent>
                                <StandaloneCodeEditor @ref="LuaEditor" Id="LuaEditor" ConstructionOptions="LuaEditorConstructionOptions" CssClass="code-editor" />
                            </MudCardContent>
                        </MudCard>
                    }
                    else if (SelectedStep.Type == WebHookStepTypes.Python)
                    {
                        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                            <MudCardHeader>
                                <MudStack>
                                    <MudText Typo="Typo.h6">Python</MudText>
                                </MudStack>
                            </MudCardHeader>
                            <MudCardContent>
                                <StandaloneCodeEditor @ref="PythonEditor" Id="PythonEditor" ConstructionOptions="PythonEditorConstructionOptions" CssClass="code-editor" />
                            </MudCardContent>
                        </MudCard>
                    }
            }
            </MudCardContent>
            <MudCardActions>
                <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveWebhook">Salvar</MudButton>
                @if (SelectedWebhook != null && !string.IsNullOrEmpty(SelectedWebhook.Id))
                {
                    <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="@DeleteWebhook" Class="ml-2">Delete</MudButton>
                }
                <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                    <div class="d-flex flex-column">
                        <MudText>@Message</MudText>
                        <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                    </div>
                </MudPopover>
            </MudCardActions>
        </MudCard>
    }
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}
