@page "/automations"
@using OnHive.Admin.Models
@using OnHive.Core.Library.Contracts.Events
@using OnHive.Core.Library.Enums.Events
@inherits AutomationsBase

@if (!Loading)
{
    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">
                <MudTable Items="@Automations" T="AutomationDto" Hover="true" Outlined="true" Dense="true" RowClassFunc="RowClassSelector" SelectedItemChanged="SelectAutomation"
                          Filter="automation => automation.Name.Contains(AutomationSearch, StringComparison.InvariantCultureIgnoreCase)
                                             || automation.EventKey.Contains(AutomationSearch, StringComparison.InvariantCultureIgnoreCase)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Automação de Eventos</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="@AutomationSearch" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Chave</MudTh>
                        <MudTh>Nome</MudTh>
                        <MudTh>Tipo</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Key">@context.EventKey</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Type">
                            @(
                                context.Type switch
                                {
                                    AutomationType.Email => "Email",
                                    AutomationType.WebHook => "WebHook",
                                    _ => ""
                                }
                                )
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                                                                Automations.Add(new AutomationDto { Name = "Nova automação", Type = Core.Library.Enums.Events.AutomationType.WebHook, WebHook = new(), Email = new() });
                                                                                SelectAutomation(Automations.Last());
                                                                            })"></MudIconButton>
                </MudCardActions>
            </MudCard>
        </MudCardContent>
    </MudCard>

    if (SelectedAutomation != null)
    {
        <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
            <MudCardContent>
                <MudItem xs="12">
                    <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedAutomation.Id" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Nome" @bind-Value="@SelectedAutomation.Name" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Descrição" @bind-Value="@SelectedAutomation.Description" />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="string" Label="Chave" @bind-Value="SelectedAutomation.EventKey">
                        @foreach (var item in Configs.Select(c => c.Key).Distinct())
                        {
                            <MudSelectItem Value="item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="AutomationType" Label="Tipo" @bind-Value="SelectedAutomation.Type">
                        <MudSelectItem Value="AutomationType.Email">E-Mail</MudSelectItem>
                        <MudSelectItem Value="AutomationType.WebHook">WebHook</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudSpacer />


                <MudSpacer />
                <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                    <MudTable Items="@SelectedAutomation.Conditions" T="AutomationConditionDto" Hover="true" Outlined="true" Dense="true" Height="200px">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Condições</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Campo</MudTh>
                            <MudTh>Operador</MudTh>
                            <MudTh>Valor</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Field">{{@context.Field}}</MudTd>
                            <MudTd DataLabel="Operator">@context.Type</MudTd>
                            <MudTd DataLabel="Value">@context.Condition</MudTd>
                        </RowTemplate>
                    </MudTable>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => SelectedAutomation.Conditions.Add(new AutomationConditionDto { Field = GetFields().First().Key, Type = AutomationConditionType.contains, Condition  = "" }))"></MudIconButton>
                    </MudCardActions>
                </MudCard>


                <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                    <MudTable Items="@GetFields()" T="EventConfigFieldsDto" Hover="true" Outlined="true" Dense="true" Height="200px">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Campos</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Chave</MudTh>
                            <MudTh>Descrição</MudTh>
                            <MudTh>Copiar</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Key">{{@context.Key}}</MudTd>
                            <MudTd DataLabel="Values">@context.Description</MudTd>
                            <MudTd DataLabel="Copy">
                                <MudIconButton Icon="@Icons.Material.Filled.CopyAll" OnClick="@(() => ClipboardService.CopyToClipboard($"{{{{{context.Key}}}}}" ))"></MudIconButton>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudCard>

                <MudSpacer />

                @if (SelectedAutomation.Type == AutomationType.Email)
                {
                    <MudCard Outlined="true" Class="form-card-body" Style="mt-5">

                        <MudCardHeader>
                            <MudStack>
                                <MudText Typo="Typo.h6">Configuração de E-Mail</MudText>
                            </MudStack>
                        </MudCardHeader>

                        <MudItem xs="12">
                            <MudTextField Label="Assunto" @bind-Value="@SelectedAutomation.Email.Subject" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Para" @bind-Value="@SelectedAutomation.Email.To" Multiline="true" Rows="5" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="De" @bind-Value="@SelectedAutomation.Email.From" Multiline="true" Rows="5" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Corpo" @bind-Value="@SelectedAutomation.Email.Body" Multiline="true" Rows="5" Lines="10" />
                        </MudItem>

                    </MudCard>
                }
                else if (SelectedAutomation.Type == AutomationType.WebHook)
                {
                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardHeader>
                            <MudStack>
                                <MudText Typo="Typo.h6">Configuração de WebHook</MudText>
                            </MudStack>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudItem xs="12">
                                <MudTextField Label="Url" @bind-Value="@SelectedAutomation.WebHook.Url" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Content Type" @bind-Value="@SelectedAutomation.WebHook.ContentType" />
                            </MudItem>

                            <MudCard>
                                <MudCardHeader>
                                    <MudStack>
                                        <MudText Typo="Typo.h6">Headers</MudText>
                                    </MudStack>
                                </MudCardHeader>
                                <MudTable Items="@SelectedHeaders" T="HeaderDto" ReadOnly="false" Hover="true" Outlined="true" Dense="true"
                                          CanCancelEdit="true" CommitEditTooltip="Confirmar" CancelEditTooltip="Cancelar" RowEditPreview="BackupHeader" RowEditCancel="ResetHeader" Height="200px">
                                    <HeaderContent>
                                        <MudTh>Chave</MudTh>
                                        <MudTh>Valor</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Key">@context.Key</MudTd>
                                        <MudTd DataLabel="Value">@context.Value</MudTd>
                                        <MudTd DataLabel="Remove">
                                            <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => SelectedHeaders.Remove(context))"></MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                    <RowEditingTemplate>
                                        <MudTd DataLabel="Key">
                                            <MudTextField @bind-Value="@context.Key" Required />
                                        </MudTd>
                                        <MudTd DataLabel="Value">
                                            <MudTextField @bind-Value="@context.Value" Required />
                                        </MudTd>
                                    </RowEditingTemplate>
                                </MudTable>
                                <MudCardActions>
                                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => SelectedHeaders.Add(new HeaderDto { Key = "Chave", Value = "Valor" }))"></MudIconButton>
                                </MudCardActions>
                            </MudCard>


                            <MudItem xs="12">
                                <MudSelect T="AutomationWebHookMethod" Label="Método" Value="@SelectedAutomation.WebHook.Method">
                                    <MudSelectItem Value="AutomationWebHookMethod.GET">Get</MudSelectItem>
                                    <MudSelectItem Value="AutomationWebHookMethod.POST">Post</MudSelectItem>
                                    <MudSelectItem Value="AutomationWebHookMethod.PUT">Put</MudSelectItem>
                                    <MudSelectItem Value="AutomationWebHookMethod.PATCH">Patch</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Corpo" @bind-Value="@SelectedAutomation.WebHook.Body" Lines="10" />
                            </MudItem>
                        </MudCardContent>
                    </MudCard>
                }

                @if (SelectedAutomation != null)
                {
                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Condições</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable Items="@SelectedAutomation.Conditions" T="AutomationConditionDto" ReadOnly="false" Hover="true" Outlined="true" Dense="true"
                                      CanCancelEdit="true" CommitEditTooltip="Confirmar" CancelEditTooltip="Cancelar" RowEditPreview="BackupCondition" RowEditCancel="ResetCondition" Height="200px">
                                <HeaderContent>
                                    <MudTh>Campo</MudTh>
                                    <MudTh>Condição</MudTh>
                                    <MudTh>Valor</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Field">@context.Field</MudTd>
                                    <MudTd DataLabel="Type">
                                        @(
                                            context.Type switch
                                            {
                                                AutomationConditionType.equal => "Igual",
                                                AutomationConditionType.notEqual => "Diferente",
                                                AutomationConditionType.greaterThan => "Maior que",
                                                AutomationConditionType.greaterThanOrEqual => "Maior ou igual a",
                                                AutomationConditionType.lessThan => "Menor que",
                                                AutomationConditionType.lessThanOrEqual => "Menor ou igual a",
                                                AutomationConditionType.contains => "Contém",
                                                AutomationConditionType.notContains => "Não contém",
                                                AutomationConditionType.startsWith => "Começa com",
                                                AutomationConditionType.notStartsWith => "Não começa com",
                                                AutomationConditionType.endsWith => "Termina com",
                                                AutomationConditionType.notEndsWith => "Não termina com",
                                                _ => ""
                                            }
                                            )
                                    </MudTd>
                                    <MudTd DataLabel="Condition">@context.Condition</MudTd>
                                    <MudTd DataLabel="Remove">
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => SelectedAutomation.Conditions.Remove(context))"></MudIconButton>
                                    </MudTd>
                                </RowTemplate>
                                <RowEditingTemplate>
                                    <MudTd DataLabel="Field">
                                        <MudTextField @bind-Value="@context.Field" Required />
                                    </MudTd>
                                    <MudTd DataLabel="Type">
                                        <MudSelect T="AutomationConditionType" Label="Condição" @bind-Value="context.Type">
                                            <MudSelectItem Value="AutomationConditionType.equal">Igual</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.notEqual">Diferente</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.greaterThan">Maior que</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.greaterThanOrEqual">Maior ou igual a</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.lessThan">Menor que</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.lessThanOrEqual">Menor ou igual a</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.contains">Contém</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.notContains">Não contém</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.startsWith">Começa com</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.notStartsWith">Não começa com</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.endsWith">Termina com</MudSelectItem>
                                            <MudSelectItem Value="AutomationConditionType.notEndsWith">Não termina com</MudSelectItem>
                                        </MudSelect>

                                    </MudTd>
                                    <MudTd DataLabel="Condition">
                                        <MudTextField @bind-Value="@context.Condition" Required />
                                    </MudTd>
                                </RowEditingTemplate>
                            </MudTable>
                            <MudCardActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => SelectedAutomation.Conditions.Add(new AutomationConditionDto { Field = "Campo", Type = AutomationConditionType.equal, Condition = "Valor"  }))"></MudIconButton>
                            </MudCardActions>
                        </MudCardContent>
                    </MudCard>
                }
            </MudCardContent>
            <MudCardActions>
                <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveAutomation">Salvar</MudButton>
                @if (SelectedAutomation != null && !string.IsNullOrEmpty(SelectedAutomation.Id))
                {
                    <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="@DeleteAutomation" Class="ml-2">Delete</MudButton>
                }
                <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                    <div class="d-flex flex-column">
                        <MudText>@Message</MudText>
                        <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                    </div>
                </MudPopover>
            </MudCardActions>
        </MudCard>
    }
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}
