@page "/courses"
@using OnHive.Core.Library.Contracts.Courses
@using OnHive.Core.Library.Contracts.Users
@using OnHive.Core.Library.Enums.Common
@inherits CoursesBase



    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">                
                <MudTable 
                    Items="@Courses" 
                    T="CourseDto" 
                    Hover="true" 
                    Outlined="true" 
                    Dense="true" 
                    RowClassFunc="RowClassSelectorCourses"
                    Loading="@Loading"
                    RowsPerPage="@CoursesFilter.PageLimit"
                    SelectedItemChanged="SelectCourse">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Cursos</MudText>
                         <MudSpacer />
                        <MudTextField @bind-Value="@CourseSearch"
                                      Placeholder="Busca"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      OnAdornmentClick="LoadCourses"
                                      IconSize="Size.Medium"
                                      Class="mt-0">
                    </MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Nome</MudTh>
                        <MudTh>Código</MudTh>
                        <MudTh>Descrição</MudTh>
                        <MudTh>Categoria</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Code">@context.Code</MudTd>
                        <MudTd DataLabel="Description">@context.Description</MudTd>
                        <MudTd DataLabel="Category">@(string.Join(", ", context.Categories))</MudTd>
                    </RowTemplate>
                     <PagerContent>
                    <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true" Count="@CoursesTotalPages" Selected="@CoursesFilter.Page" SelectedChanged="CoursesPageChanged" />
                    <MudSelect T="int" Label="Qtd. por Página" Value="@DisciplinesFilter.PageLimit" ValueChanged="@((t) => ChangeCoursesPageLimit(t))">
                        <MudSelectItem Value="10">10</MudSelectItem>
                        <MudSelectItem Value="25">25</MudSelectItem>
                        <MudSelectItem Value="50">50</MudSelectItem>
                        <MudSelectItem Value="100">100</MudSelectItem>
                    </MudSelect>
                </PagerContent>
                </MudTable>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                                                                           SelectedCourse = new CourseDto{
                                                                                                    Code = CodeHelper.GenerateNumericCode(11),
                                                                                                    Name = "Novo nome",
                                                                                                    Description = "Descrição do novo curso",
                                                                                                    Disciplines = []
                                                                                                 };
                                                                                           SelectedRelatedCourses = [];
                                                                                           if(Editor != null){
                                                                                                _ = Editor.SetValue(string.Empty);
                                                                                           }
                                                                                       })" />
                </MudCardActions>
            </MudCard>

            @if (SelectedCourse != null)
            {

                <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardContent>
                            <MudItem xs="12">
                                <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedCourse.Id" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch Label="Ativo" 
                                            @bind-Value="@SelectedCourse.IsActive"
                                            Color="Color.Primary"
                                            T="bool"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Código" @bind-Value="@SelectedCourse.Code" Required/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Nome" @bind-Value="@SelectedCourse.Name" Required />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Lines="4" Label="Descrição" @bind-Value="@SelectedCourse.Description" />
                            </MudItem>
                            <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                                <MudCardHeader>
                                    <MudText Typo="Typo.h6">Corpo</MudText>                                    
                                </MudCardHeader>
                                    <MudCardContent Class="html-editor">
                                    <StandaloneCodeEditor @ref="Editor" Id="CourseBodyEditor" ConstructionOptions="EditorConstructionOptions" CssClass="html-editor" />
                                    </MudCardContent>
                            </MudCard>
                            <MudItem xs="12">
                                <MudTextField Label="Miniatura" @bind-Value="@SelectedCourse.Thumbnail" Required />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Imagem" @bind-Value="@SelectedCourse.ImageUrl" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="Slug" @bind-Value="@SelectedCourse.Slug" Required/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField Label="URL" @bind-Value="@SelectedCourse.Url" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField Label="Nível de dificuldade" @bind-Value="@SelectedCourse.DifficultLevel" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField Label="Duração" @bind-Value="@SelectedCourse.Duration" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField T="double?" Format="N2" Label="Avaliação" @bind-Value="@SelectedCourse.Rate" Min="0" Max="5" Step=".5F" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudDatePicker Label="Data lançamento" @bind-Date="@SelectedCourse.LaunchDate" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField T="int" Label="Quantidade Aulas" @bind-Value="@SelectedCourse.LessonsCount" Min="0" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField T="int?" Label="Quantidade Materiais" @bind-Value="@SelectedCourse.MaterialsCount" Min="0" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch Label="Possui Certificado" @bind-Value="@SelectedCourse.HasCertificate" />
                            </MudItem>
                            @if (SelectedCourse.HasCertificate)
                            {
                                <MudItem xs="12">
                                    <MudTextField Label="Id do Certificado" @bind-Value="@SelectedCourse.CertificateId" />
                                </MudItem>
                            }
                        </MudCardContent>
                    </MudCard>

                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Categorias</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable Items="@SelectedCourse.Categories" T="String" ReadOnly="false" Hover="true" Outlined="true" Dense="true" Height="100px">
                                <RowTemplate>
                                    <MudTd DataLabel="Category">@context</MudTd>
                                    <MudTd DataLabel="Remove">
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => SelectedCourse.Categories.Remove(context))"></MudIconButton>
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                            <MudCardActions>
                                <MudItem xs="12">
                                    <MudTextField Label="Categoria:" @bind-Value="@NewCategory" />
                                </MudItem>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                    if(!string.IsNullOrEmpty(NewCategory))
                                    {
                                        if(SelectedCourse.Categories == null)
                                        {
                                            SelectedCourse.Categories = [];
                                        }
                                        SelectedCourse.Categories.Add(NewCategory);
                                            NewCategory = string.Empty;
                                        }
                                    })">
                                </MudIconButton>
                            </MudCardActions>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Outlined="true" Class="form-card-body" Style="mt-2">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Pré-requisitos</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable Items="@SelectedCourse.Requirements" T="String" ReadOnly="false" Hover="true" Outlined="true" Dense="true" Height="100px">
                                <RowTemplate>
                                    <MudTd DataLabel="Requirement">@context</MudTd>
                                    <MudTd DataLabel="Remove">
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => SelectedCourse.Requirements.Remove(context))"></MudIconButton>
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                            <MudCardActions>
                                <MudItem xs="12">
                                    <MudTextField Label="Pré-requisito:" @bind-Value="@NewRequirement" />
                                </MudItem>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => {
                                    if(!string.IsNullOrEmpty(NewRequirement))
                                    {
                                        SelectedCourse.Requirements.Add(NewRequirement);
                                            NewRequirement = string.Empty;
                                        }
                                    })">
                                </MudIconButton>
                            </MudCardActions>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Outlined="true" Class="form-card-body mt-2">
                        <MudCardContent>
                             <MudStack Spacing="2"> 
                                <MudTable Items="@SelectedCourse.Disciplines"
                                      T="DisciplineDto"
                                      Hover="true"
                                      Outlined="true"
                                      Dense="true"
                                      Height="300px">

                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Disciplinas do Curso</MudText>
                                </ToolBarContent>

                               <HeaderContent>
                                    <MudTh>Nome</MudTh>
                                    <MudTh>Código</MudTh>
                                    <MudTh>Descrição</MudTh>
                                    <MudTh>Categoria</MudTh>
                                    <MudTh>Remover</MudTh>
                                </HeaderContent>

                                <RowTemplate>
                                    <MudTd DataLabel="Name">@context.Name</MudTd>
                                    <MudTd DataLabel="Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Description">@context.Description</MudTd>
                                    <MudTd DataLabel="Category">@context.Category</MudTd>
                                   <MudTd DataLabel="Remove">
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => RemoveDiscipline(context))">
                                        </MudIconButton>
                                    </MudTd>
                        </RowTemplate>
                            </MudTable>
                                <MudDivider />
                                <MudButton OnClick="@(() => DisciplinesExpanded = !DisciplinesExpanded )">@(DisciplinesExpanded ? "Ocultar Lista" : "Adicionar Disciplinas")</MudButton>
                                <MudDivider />
                                <MudCollapse Expanded="DisciplinesExpanded">
                                    <MudTable Items="@Disciplines"
                                  T="DisciplineDto"
                                  Hover="true"
                                  Outlined="true"
                                  Dense="true"
                                  Height="300px"
                                  Loading="@DisciplineLoading"
                                  RowsPerPage="@DisciplinesFilter.PageLimit">

                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">Disciplinas</MudText>
                                        <MudSpacer />
                                        <MudTextField @bind-Value="@DisciplineSearch"
                                                      Placeholder="Busca"
                                                      Adornment="Adornment.Start"
                                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                                      OnAdornmentClick="LoadDisciplines"
                                                      IconSize="Size.Medium"
                                                      Class="mt-0">
                                        </MudTextField>
                                    </ToolBarContent>

                                    <HeaderContent>
                                        <MudTh>Nome</MudTh>
                                        <MudTh>Código</MudTh>
                                        <MudTh>Descrição</MudTh>
                                        <MudTh>Categoria</MudTh>
                                        <MudTh>Adicionar</MudTh>
                                    </HeaderContent>

                                    <RowTemplate>
                                        <MudTd DataLabel="Name">@context.Name</MudTd>
                                        <MudTd DataLabel="Code">@context.Code</MudTd>
                                        <MudTd DataLabel="Description">@context.Description</MudTd>
                                        <MudTd DataLabel="Category">@context.Category</MudTd>
                                       <MudTd DataLabel="Add">
                                            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => AddDiscipline(context))">
                                            </MudIconButton>
                                        </MudTd>
                                    </RowTemplate>

                                    <PagerContent>
                                        <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true" Count="@DisciplinesTotalPages" Selected="@DisciplinesFilter.Page" SelectedChanged="DisciplinesPageChanged" />
                                        <MudSelect T="int" Label="Qtd. por Página" Value="@DisciplinesFilter.PageLimit" ValueChanged="@((t) => ChangeDisciplinesPageLimit(t))">
                                            <MudSelectItem Value="10">10</MudSelectItem>
                                            <MudSelectItem Value="25">25</MudSelectItem>
                                            <MudSelectItem Value="50">50</MudSelectItem>
                                            <MudSelectItem Value="100">100</MudSelectItem>
                                        </MudSelect>
                                    </PagerContent>
                                </MudTable>
                                </MudCollapse>
                             </MudStack>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Outlined="true" Class="form-card-body">
                        <MudCardContent>
                            <MudStack Spacing="2">
                                <MudTable Items="@SelectedRelatedCourses" 
                                    T="CourseDto" 
                                    Hover="true"
                                    Outlined="true"
                                    Dense="true" 
                                    Height="300px">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Cursos Relacionados Selecionados</MudText>
                                    <MudSpacer />
                                    <MudTextField @bind-Value="@RelatedCourseSearch" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Nome</MudTh>
                                    <MudTh>Código</MudTh>
                                    <MudTh>Descrição</MudTh>
                                    <MudTh>Categoria</MudTh>
                                    <MudTh>Remover</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name">@context.Name</MudTd>
                                    <MudTd DataLabel="Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Description">@context.Description</MudTd>
                                    <MudTd DataLabel="Category">@(string.Join(", ", context.Categories))</MudTd>
                                    <MudTd DataLabel="Remove">
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => RemoveRelatedCourse(context))">
                                        </MudIconButton>
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                                <MudDivider />
                                <MudButton OnClick="@(() => CoursesExpanded = !CoursesExpanded )">@(CoursesExpanded ? "Ocultar Lista" : "Adicionar Cursos Relacionados")</MudButton>
                                <MudDivider />
                                <MudCollapse Expanded="CoursesExpanded">
                                    <MudTable Items="@RelatedCourses" 
                                    T="CourseDto" 
                                    Hover="true" 
                                    Outlined="true" 
                                    Dense="true" 
                                    Height="300px"
                                    Loading=@RelatedCoursesLoading>
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Cursos Relacionados</MudText>
                                    <MudSpacer />
                                     <MudTextField @bind-Value="@RelatedCourseSearch"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              OnAdornmentClick="LoadRelatedCourses"
                                              IconSize="Size.Medium"
                                              Class="mt-0">
                                </MudTextField>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Nome</MudTh>
                                    <MudTh>Código</MudTh>
                                    <MudTh>Descrição</MudTh>
                                    <MudTh>Categoria</MudTh>
                                    <MudTh>Adicionar</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name">@context.Name</MudTd>
                                    <MudTd DataLabel="Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Description">@context.Description</MudTd>
                                    <MudTd DataLabel="Category">@(string.Join(", ", context.Categories))</MudTd>
                                     <MudTd DataLabel="Add">
                                          <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => AddRelatedCourse(context))">
                                          </MudIconButton>
                                      </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true" Count="@RelatedCoursesTotalPages" Selected="@RelatedCoursesFilter.Page" SelectedChanged="RelatedCoursesPageChanged" />
                                <MudSelect T="int" Label="Qtd. por Página" Value="@RelatedCoursesFilter.PageLimit" ValueChanged="@((t) => ChangeRelatedCoursesPageLimit(t))">
                                    <MudSelectItem Value="10">10</MudSelectItem>
                                    <MudSelectItem Value="25">25</MudSelectItem>
                                    <MudSelectItem Value="50">50</MudSelectItem>
                                    <MudSelectItem Value="100">100</MudSelectItem>
                                </MudSelect>
                            </PagerContent>
                            </MudTable>
                                </MudCollapse>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Outlined="true" Class="form-card-body">                        
                        <MudCardContent>
                            <MudStack Spacing="2">
                                <MudTable Items="@SelectedUsers"
                                          T="UserDto"
                                          Hover="true"
                                          Outlined="true"
                                          Dense="true"
                                          Height="300px">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">Professores Selecionados</MudText>
                                    </ToolBarContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Nome">@context.Name</MudTd>
                                        <MudTd DataLabel="Email">@context.MainEmail</MudTd>
                                         <MudTd DataLabel="Remove">
                                            <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="@(() => RemoveUser(context))">
                                            </MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                                <MudDivider />
                                <MudButton OnClick="@(() => UsersExpanded = !UsersExpanded )">@(UsersExpanded ? "Ocultar Lista" : "Adicionar Professores")</MudButton>
                                <MudDivider />
                                 <MudCollapse Expanded="UsersExpanded">
                                    <MudTable Items="@AllUsers"
                                      T="UserDto"
                                      Hover="true"
                                      Outlined="true"
                                      Dense="true"
                                      Height="300px"
                                      Loading="@UsersLoading">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Professores</MudText>
                                    <MudSpacer />
                                   <MudTextField @bind-Value="@UsersSearch"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              OnAdornmentClick="LoadUsers"
                                              IconSize="Size.Medium"
                                              Class="mt-0">
                                   </MudTextField>
                                </ToolBarContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Nome">@context.Name</MudTd>
                                    <MudTd DataLabel="Email">@context.MainEmail</MudTd>
                                    <MudTd DataLabel="Add">
                                          <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => AddUser(context))">
                                          </MudIconButton>
                                      </MudTd>
                                </RowTemplate>
                                 <PagerContent>
                                    <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true" Count="@UsersTotalPages" Selected="@UsersFilter.Page" SelectedChanged="UsersPageChanged" />
                                    <MudSelect T="int" Label="Qtd. por Página" Value="@UsersFilter.PageLimit" ValueChanged="@((t) => ChangeUsersPageLimit(t))">
                                        <MudSelectItem Value="10">10</MudSelectItem>
                                        <MudSelectItem Value="25">25</MudSelectItem>
                                        <MudSelectItem Value="50">50</MudSelectItem>
                                        <MudSelectItem Value="100">100</MudSelectItem>
                                    </MudSelect>
                                 </PagerContent>
                            </MudTable>
                                </MudCollapse>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>

                    <MudCardActions>
                        <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveCourse">Salvar</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@Clear" Class="m-2">Limpar</MudButton>
                        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudText>@Message</MudText>
                                <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                            </div>
                        </MudPopover>
                    </MudCardActions>
                </MudCard>
            }
        </MudCardContent>
    </MudCard>

    <MudCard>
        <MudCardActions>
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@ExportAsync" Class="m-2">Exportar</MudButton>
            <MudSelect T="ExportFormats" Label="Tipo" Value="@ExportType" ValueChanged="(t) => ChangeExportType(t)" Class="export-format">
                <MudSelectItem Value="ExportFormats.Csv">CSV</MudSelectItem>
                <MudSelectItem Value="ExportFormats.Json">JSON</MudSelectItem>
                <MudSelectItem Value="ExportFormats.Xml">XML</MudSelectItem>
            </MudSelect>
            <MudSwitch Label="Active Only" 
                       @bind-Value="@ExportActiveOnly"
                       Color="Color.Primary"
                       T="bool"/>
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@CopyExportLink" Class="m-2">Copiar Link</MudButton>
        </MudCardActions>
    </MudCard>


<script type="text/javascript">
    downloadFile = (fileName, data) => {
        const blob = new Blob([data], { type: "text/plain" });
        const downloadLink = document.createElement("a");
        downloadLink.href = window.URL.createObjectURL(blob);
        downloadLink.download = fileName;
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    };
</script>