@page "/exams"
@using OnHive.Core.Library.Contracts.Courses
@using OnHive.Core.Library.Enums.Courses
@inherits ExamsBase


<MudCard>
    <MudCardContent>

        <MudCard Outlined="true" Class="form-card-body">
            <MudTable Items="@Exams"
                      T="ExamDto"
                      Hover="true"
                      Outlined="true"
                      Dense="true"
                      RowsPerPage="@Filter.PageLimit"
                      RowClassFunc="RowClassSelector"
                      SelectedItemChanged="SelectExam"
                      Loading="@Loading"
                      LoadingProgressColor="Color.Info">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Exames</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="@ExamSearch"
                                  Placeholder="Busca"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  OnAdornmentClick="LoadExams"
                                  IconSize="Size.Medium"
                                  Class="mt-0">
                    </MudTextField>
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Nome</MudTh>
                    <MudTh>Código</MudTh>
                    <MudTh>Descrição</MudTh>
                    <MudTh>Categoria</MudTh>
                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Code">@context.Code</MudTd>
                    <MudTd DataLabel="Description">@context.Description</MudTd>
                    <MudTd DataLabel="Category">@context.Category</MudTd>
                </RowTemplate>

                <PagerContent>
                    <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true" Count="@TotalPages" Selected="@Filter.Page" SelectedChanged="PageChanged" />
                    <MudSelect T="int" Label="Qtd. por Página" Value="@Filter.PageLimit" ValueChanged="@((t) => ChangePageLimit(t))">
                        <MudSelectItem Value="10">10</MudSelectItem>
                        <MudSelectItem Value="25">25</MudSelectItem>
                        <MudSelectItem Value="50">50</MudSelectItem>
                        <MudSelectItem Value="100">100</MudSelectItem>
                    </MudSelect>
                </PagerContent>
            </MudTable>

            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Add"
                               OnClick="@(() =>
                                                                   {
                                                                       ExamDto newExam = new ExamDto
                                                                       {
                                                                           Name = "Novo Exame",
                                                                                                          Code = CodeHelper.GenerateNumericCode(11),
                                                                           Description = string.Empty,
                                                                           Category = string.Empty,
                                                                           Questions = new List<ExamQuestionDto>(),
                                                                           MaxRetries = 9999,
                                                                           TotalScore = 10,
                                                                           RequiredScore = 7
                                                                       };

                                                                       Exams.Add(newExam);
                                                                       SelectedExam = newExam;
                                                                   })" />
            </MudCardActions>
        </MudCard>

        @if (SelectedExam != null)
        {
            <MudCard Outlined="true" Class="form-card-body mt-2">
                <MudCardContent>
                    <MudItem xs="12">
                        <MudTextField ReadOnly="true" Label="Id" @bind-Value="@SelectedExam.Id" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField ReadOnly="true" Label="Versão" @bind-Value="@SelectedExam.VersionNumber" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Código" @bind-Value="@SelectedExam.Code" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Nome" @bind-Value="@SelectedExam.Name" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Descrição" @bind-Value="@SelectedExam.Description" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Categoria" @bind-Value="@SelectedExam.Category" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField Format="N2" Culture="@culture" Label="Nota Máxima" @bind-Value="@SelectedExam.TotalScore" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField Format="N2" Culture="@culture" Label="Nota de Aprovação" @bind-Value="@SelectedExam.RequiredScore" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudNumericField Min="1" Max="9999" Culture="@culture" Label="Maximo de tentativas" @bind-Value="@SelectedExam.MaxRetries" />
                    </MudItem>
                </MudCardContent>
            </MudCard>

            <MudCard Outlined="true" Class="form-card-body mt-2">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Questões</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudTable Items="@SelectedExam.Questions.OrderBy(i => i.Order)"
                              T="ExamQuestionDto"
                              ReadOnly="false"
                              Hover="true"
                              Outlined="true"
                              Dense="true"
                              RowClassFunc="RowClassSelectorQuestion"
                              @bind-SelectedItem="SelectedQuestion"
                              Height="500px">

                        <HeaderContent>
                            <MudTh>Título</MudTh>
                            <MudTh>Ordem</MudTh>
                            <MudTh>Texto auxiliar</MudTh>
                            <MudTh>Tipo</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>

                        <RowTemplate>
                            <MudTd DataLabel="Title">@context.Title</MudTd>
                            <MudTd DataLabel="Order">@context.Order</MudTd>
                            <MudTd DataLabel="Body">@context.AuxText</MudTd>
                            <MudTd DataLabel="Type">
                                @switch (context.Type)
                                {
                                    case QuestionTypes.MultipleChoice:
                                        <MudText>Múltiplas Respostas</MudText>
                                        ;
                                        break;
                                    case QuestionTypes.SingleChoice:
                                        <MudText>Resposta Única</MudText>
                                        ;
                                        break;
                                    case QuestionTypes.Dissertative:
                                        <MudText>Dissertativa</MudText>
                                        ;
                                        break;
                                    case QuestionTypes.Rating:
                                        <MudText>Avaliação</MudText>
                                        ;
                                        break;
                                }
                            </MudTd>
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Remove"
                                               OnClick="@(() =>
                                                                                                                                                                                                        {
                                                                                                                                                                                                            SelectedExam.Questions.Remove(context);
                                                                                                                                                                                                            SelectedQuestion = null;
                                                                                                                                                                                                        })">
                                                                                                                                                                                           </MudIconButton>
                                                                                                                                                                                       </MudTd>
                                                                                                                                                                                   </RowTemplate>
                                                                                                                                                                               </MudTable>

                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Add"
                                       OnClick="@(() =>
                                                                                                                                                    {
                                           ExamQuestionDto newQuestion = new ExamQuestionDto
                                           {
                                               Title = "Nova questão",
                                               Order = SelectedExam.Questions.Count,
                                               Value = 1,
                                               Type = QuestionTypes.MultipleChoice,
                                               Options = new List<QuestionOptionDto>()
                                           };

                                           SelectedExam.Questions.Add(newQuestion);
                                           SelectQueston(SelectedExam.Questions.Last());
                                       })">
                          </MudIconButton>
                      </MudCardActions>
                  </MudCardContent>
              </MudCard>

            @if (SelectedQuestion != null)
            {
                <MudCard Outlined="true" Class="form-card-body mt-2">
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudTextField Label="Título" @bind-Value="@SelectedQuestion.Title" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudNumericField Label="Ordem" @bind-Value="@SelectedQuestion.Order" />
                        </MudItem>''
                        <MudItem xs="12">
                            <MudSwitch @bind-Value="@SelectedQuestion.Optional"
                                       Color="Color.Primary"
                                       T="bool"
                                       Label="Opcional" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Corpo" @bind-Value="@SelectedQuestion.AuxText" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudNumericField Format="N2" Culture="@culture" Label="Valor da Questão (nota)" @bind-Value="@SelectedQuestion.Value" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudSelect T="QuestionTypes"
                                       Label="Tipo"
                                       Value="@SelectedQuestion.Type"
                                       ValueChanged="(t) => ChangeQuestionType(t)">
                                <MudSelectItem Value="QuestionTypes.MultipleChoice">Múltiplas Respostas</MudSelectItem>
                                <MudSelectItem Value="QuestionTypes.SingleChoice">Resposta Única</MudSelectItem>
                                <MudSelectItem Value="QuestionTypes.Dissertative">Dissertativa</MudSelectItem>
                                <MudSelectItem Value="QuestionTypes.Rating">Avaliação</MudSelectItem>
                            </MudSelect>
                        </MudItem>
                    </MudCardContent>
                </MudCard>

                @if (SelectedQuestion.Type != QuestionTypes.Dissertative)
                {
                    <MudCard Outlined="true" Class="form-card-body mt-2">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Opções</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable Items="@SelectedQuestion.Options.OrderBy(i => i.Order)"
                                      T="QuestionOptionDto"
                                      ReadOnly="false"
                                      Hover="true"
                                      Outlined="true"
                                      Dense="true"
                                      RowClassFunc="RowClassSelectorQuestionOption"
                                      CanCancelEdit="true"
                                      CommitEditTooltip="Confirmar"
                                      CancelEditTooltip="Cancelar"
                                      RowEditPreview="BackupQuestionOption"
                                      RowEditCancel="ResetQuestionOption"
                                      RowEditCommit="CheckQuestionOption"
                                      Height="400px">

                                <HeaderContent>
                                    <MudTh>Letra</MudTh>
                                    <MudTh>Ordem</MudTh>
                                    <MudTh>Corpo</MudTh>
                                    <MudTh>Correta</MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>

                                <RowTemplate>
                                    <MudTd DataLabel="Letter">@context.Letter</MudTd>
                                    <MudTd DataLabel="Order">@context.Order</MudTd>
                                    <MudTd DataLabel="Body">@context.Body</MudTd>
                                    <MudTd DataLabel="IsCorrect">@((context.IsCorrect) ? "Sim" : "Não")</MudTd>
                                    <MudTd>
                                        <MudIconButton Icon="@Icons.Material.Filled.Remove"
                                                       OnClick="@(() => SelectedQuestion.Options.Remove(context))" />
                                    </MudTd>
                                </RowTemplate>

                                <RowEditingTemplate>
                                    <MudTd DataLabel="Letter">
                                        <MudTextField @bind-Value="@context.Letter" Required />
                                    </MudTd>
                                    <MudTd DataLabel="Order">
                                        <MudTextField @bind-Value="@context.Order" Required />
                                    </MudTd>
                                    <MudTd DataLabel="Body">
                                        <MudTextField @bind-Value="@context.Body" Required />
                                    </MudTd>
                                    <MudTd DataLabel="IsCorrect">
                                        <MudSwitch @bind-Value="@context.IsCorrect"
                                                   Color="Color.Primary"
                                                   T="bool"
                                                   Label="Correta" />
                                    </MudTd>
                                </RowEditingTemplate>
                            </MudTable>

                            <MudCardActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               OnClick="@(() =>
                                                                                                                                                                                                        {
                                                                                                                                                                                                            char lastLetter = 'A';
                                                                                                                                                                                                            if (SelectedQuestion.Options.Any())
                                                                                                                                                                                                            {
                                                                                                                                                                                                                lastLetter = SelectedQuestion
                                                                                                                                                                                                                    .Options
                                                                                                                                                                                                                    .Last().Letter.ToCharArray()[0];
                                                                                                                                                                                                                lastLetter = (char)(lastLetter + 1);
                                                                                                                                                                                                            }

                                                                                                                                                                                                            var newOption = new QuestionOptionDto
                                                                                                                                                                                                            {
                                                                                                                                                                                                                Letter = lastLetter.ToString()
                                                                                                                                                                                                            };

                                                                                                                                                                                                            SelectedQuestion.Options.Add(newOption);
                                                                                                                                                                                                        })">
                    </MudIconButton>
                </MudCardActions>
            </MudCardContent>
        </MudCard>
                }
            }
        }
    </MudCardContent>

    <MudCardActions>
        @if (SelectedExam == null || string.IsNullOrEmpty(SelectedExam.Id))
        {
            <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveExam">
                Salvar
            </MudButton>
        }
        else
        {
            <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@SaveExamNewVersion">
                Criar Versão
            </MudButton>

            <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="() => ShowSaveMessage = true" Class="m-2">
                Salvar
            </MudButton>

            <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" OnClick="@CopyExam" Class="m-2">
                Criar Cópia
            </MudButton>
        }
        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="@Clear" Class="m-2">
            Limpar
        </MudButton>
        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
            <div class="d-flex flex-column">
                <MudText>@Message</MudText>
                <MudButton OnClick="@(() => @ShowMessage = false)"
                           Class="ml-auto mr-n3 mb-1"
                           Color="Color.Error">
                    Close
                </MudButton>
            </div>
        </MudPopover>
        <MudPopover Open="@ShowSaveMessage" Fixed="true" Class="px-4 pt-4">
            <div class="d-flex flex-column">
                <MudText>Utilize o salvar apenas em exames novos, caso já estejam em uso, use o 'Criar Versão', deseja continuar mesmo assim?</MudText>
                <MudButton OnClick="@(() => { @ShowSaveMessage = false; SaveExam(); })" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Confirmar</MudButton>
                <MudButton OnClick="@(() => @ShowSaveMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Cancelar</MudButton>
            </div>
        </MudPopover>
    </MudCardActions>
</MudCard>

