@using OnHive.Core.Library.Contracts.Messages
@using OnHive.Core.Library.Contracts.Users
@page "/messages"
@inherits MessagesBase

@if (!Loading)
{
    <MudCard>
        <MudCardContent>
            <MudCard Outlined="true" Class="form-card-body">
                <MudCardContent>
                    <MudTable Items="@UserMessages" T="MessageUserDto" Hover="true" Outlined="true" Dense="true" RowClassFunc="RowClassSelector"
                              SelectedItemChanged="SelectMessage" Filter="message => message.From.Contains(SearchMessage, StringComparison.InvariantCultureIgnoreCase)
                                                                            || message.Subject.Contains(SearchMessage, StringComparison.InvariantCultureIgnoreCase)
                                                                            || string.IsNullOrEmpty(SearchMessage)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Mensagens</MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="@SearchMessage" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Data</MudTh>
                            <MudTh>Remetente</MudTh>
                            <MudTh>Assunto</MudTh>
                            <MudTh>Status</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Date">@context.MessageDate</MudTd>
                            <MudTd DataLabel="From">@context.From</MudTd>
                            <MudTd DataLabel="Subject">@context.Subject</MudTd>
                            <MudTd DataLabel="Status">@(context.Status == Core.Library.Enums.Messages.MessageStatus.Read ? "Lida" : "Não Lida")</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
                <MudCardActions>
                    <MudItem xs="12">
                        <MudSwitch Label="Apenas Não Lidas" 
                                   @bind-Value="@NewOnly"
                                   Color="Color.Primary"
                                   T="bool"/>
                        <MudButton OnClick="LoadMessages" Class="ml-auto mr-n3 mb-1" Variant="MudBlazor.Variant.Filled" Color="Color.Primary">Buscar</MudButton>
                    </MudItem>
                </MudCardActions>
            </MudCard>
            @if (SelectedFullMessage != null && !LoadingFullMail)
            {
                <MudCard Outlined="true" Class="form-card-body">
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Origem" @bind-Value="@SelectedFullMessage.Origin" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Nome" @bind-Value="@SelectedFullMessage.From.Name" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Email" @bind-Value="@SelectedFullMessage.From.Email" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Telefone" @bind-Value="@SelectedFullMessage.From.Phone" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Data" @bind-Value="@SelectedFullMessage.MessageDate" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Label="Sobre" @bind-Value="@SelectedFullMessage.Subject" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="true" Lines="50" Label="Mensagem" @bind-Value="@SelectedFullMessage.Body" />
                        </MudItem>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="@MarkUnread" Class="m-2">Marcar como não lida</MudButton>
                        <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="@(() => ShowDeleteMessage = true )" Class="m-2">Deletar</MudButton>
                        <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudText>@Message</MudText>
                                <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                            </div>
                        </MudPopover>
                        <MudPopover Open="@ShowDeleteMessage" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudText>Deseja realmente deletar esta mesagem, esta ação não pode ser desfeita.</MudText>
                                <MudButton OnClick="@(() => {@ShowDeleteMessage = false; DeleteMessage();})" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Confirmar</MudButton>
                                <MudButton OnClick="@(() => @ShowDeleteMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Cancelar</MudButton>
                            </div>
                        </MudPopover>
                    </MudCardActions>
                </MudCard>
            }
            else if (LoadingFullMail)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
            }
        </MudCardContent>
    </MudCard>
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}


