@page "/students"
@using OnHive.Admin.Models
@using OnHive.Core.Library.Contracts.Catalog
@using OnHive.Core.Library.Contracts.Courses
@using OnHive.Core.Library.Contracts.Students
@using OnHive.Core.Library.Contracts.Users
@inherits StudentsBase

@if (!Loading)
{
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h5">Inscrição em cursos</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudCard>
                <MudCardContent>
                    <MudCard Outlined="true" Class="form-card-body">
                        <MudTable Items="@Students"
                                  T="StudentUserDto"
                                  Hover="true"
                                  Outlined="true"
                                  Dense="true"
                                  RowClassFunc="RowStudentSelector"
                                  SelectedItemChanged="@((StudentUserDto dto) => SelectUser(dto.User))"
                                  Loading="@IsLoading"
                                  LoadingProgressColor="Color.Info"
                                  RowsPerPage="@Filter.PageLimit"
                                  CustomPaging="true"
                                  AllowUnsorted="true">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Alunos</MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="@SearchTerm"
                                              Placeholder="Busca"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              IconSize="Size.Medium"
                                              Class="mt-0"
                                              Immediate="true"
                                              OnAdornmentClick="@Search"
                                              OnKeyDown="OnSearchKeyDown" />
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Email</MudTh>
                                <MudTh>Nome</MudTh>
                                <MudTh>Cursos</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="User">@context.User.MainEmail</MudTd>
                                <MudTd DataLabel="Name">@context.User.Name</MudTd>
                                <MudTd DataLabel="Courses">@context.Student.Courses.Count</MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <PaginationToolbar CurrentPage="@Filter.Page"
                                                   TotalPages="@TotalPages"
                                                   PageLimit="@Filter.PageLimit"
                                                   OnPageLimitChanged="@ChangePageLimit"
                                                   OnFirstPage="@GoToFirstPage"
                                                   OnPreviousPage="@GoToPreviousPage"
                                                   OnNextPage="@GoToNextPage"
                                                   OnLastPage="@GoToLastPage" />
                            </PagerContent>
                        </MudTable>
                    </MudCard>
                </MudCardContent>
            </MudCard>


        </MudCardContent>
    </MudCard>
    <MudPopover Open="@ShowMessage" Fixed="true" Class="px-4 pt-4">
        <div class="d-flex flex-column">
            <MudText>@Message</MudText>
            <MudButton OnClick="@(() => @ShowMessage = false)" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
        </div>
    </MudPopover>
    @if(SelectedUser != null)
    {
        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h5">Cursos</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudCard>
                    <MudCardContent>
                        <MudCard Outlined="true" Class="form-card-body">
                            <MudTable Items="@ProductsFiltered" T="ProductDto" Hover="true" Outlined="true" Dense="true"
                                      Filter="course => course.Slug.Contains(ProductSearch, StringComparison.InvariantCultureIgnoreCase)
                                            || course.Name.Contains(ProductSearch, StringComparison.InvariantCultureIgnoreCase)
                                            || course.Description.Contains(ProductSearch, StringComparison.InvariantCultureIgnoreCase)
                                            || course.Sku.Contains(ProductSearch, StringComparison.InvariantCultureIgnoreCase)">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Cursos</MudText>
                                    <MudSpacer />
                                    <MudTextField @bind-Value="@ProductSearch" Placeholder="Busca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                    <MudSwitch T="bool"
                                               Color="Color.Primary"
                                               Label="Mostrar apenas inscritos"
                                               Value="@ShowOnlyEnrolledFilter"
                                               ValueChanged="@FilterProducts">
                                    </MudSwitch>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Sku</MudTh>
                                    <MudTh>Nome</MudTh>
                                    <MudTh>Slug</MudTh>
                                    <MudTh>Visualizar</MudTh>
                                    <MudTh>Certificado</MudTh>
                                    <MudTh>Inscrição</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Sku">@context.Sku</MudTd>
                                    <MudTd DataLabel="Name">@context.Name</MudTd>
                                    <MudTd DataLabel="Slug">@context.Slug</MudTd>
                                    <MudTd DataLabel="View">
                                @if (CheckEnrolment(context))
                                        {
                                            <MudIconButton Icon="@Icons.Material.Filled.Preview" OnClick="@(() => ViewCertificate(context.ItemId))">
                                            </MudIconButton>
                                        }
                                    </MudTd>
                                     <MudTd DataLabel="Certificate">
                                        @if(CheckEnrolment(context))
                                        {

                                            <MudIconButton Icon="@Icons.Material.Filled.WorkspacePremium" OnClick="@(() => EmmitCertificate(context.ItemId))">
                                            </MudIconButton>
                                        }                     
                                    </MudTd>
                                    <MudTd DataLabel="Remove">
                                        @if(CheckEnrolment(context))
                                        {
                                            <MudIconButton Icon="@Icons.Material.Filled.EditOff" OnClick="@(() => Unenroll(context))">
                                            </MudIconButton>
                                        }
                                        else
                                        {
                                            <MudIconButton Icon="@Icons.Material.Filled.Create" OnClick="@(() => _ = Enroll(context))">
                                            </MudIconButton>
                                        }                          
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </MudCard>
                    </MudCardContent>
                </MudCard>


            </MudCardContent>
        </MudCard>        

        @if(CertificateMount != null)
        {
           <MudCard>
                <MudCardHeader>
                    <MudText Typo="Typo.h5">Certificado</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>
                        @((MarkupString)CertificateMount.Body)
                    </MudText>
                </MudCardContent>
           </MudCard>
            
        }
    }


}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
}
